.navbar-brand {
  width: 40%;
}

.navbar-nav {
  width: 70%;
}

.navbar {
  height: 7.5%;
}

.row {
  width: 100%;
}

#logo {
  width: 23.5px;
  position: relative;
  bottom: 1.4px;
}

.navbar-nav {
  font-size: 1.15em;
}