/* navbar stylings */
.navbar-brand {
  width: 40%;
}

.navbar-nav {
  width: 70%;
}

.navbar {
  height: 7.5%;
}

.row {
  width: 100%;
}

#logo {
  width: 23.5px;
  position: relative;
  bottom: 1.4px;
}

.navbar-nav {
  font-size: 1.15em;
}

/* body stylings */
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  background-color: #e9ecef;
}


#first_hd_index {
  margin-top: 70px;
  text-align: center;
}

#intro_paragraph {
  text-align: center;
}


h2 {
  text-align: center;
}

.img {
  box-sizing: 10px 10px;
}

#cover_art {
  margin-top: 3em;
  margin-bottom: 3em;
}

.centred-header {
  margin: 0 auto 0 auto
}

table {
  margin: 0 auto 0 auto
}